@import url(../style.css);

body
{
    background-color: var(--main-page-color);
}

header
{
    display: block !important;
    position: sticky;
    top: 0rem;
    right: 0rem;
    left: 0rem;
    color: white;
}

.header_container
{
    font-weight: 700;
    display: flex;
    padding: 1rem;
}

.lista_container
{
    display: contents;
    flex-direction: row;
}

.lista_content
{
    margin-left: 2rem;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem 1rem;
}

.lista_content:hover
{
    padding: 0.5rem 1.2rem;
    border-radius: 1rem 1rem;
    background-color: #6000a0;
    color: white;
    cursor: pointer;
}
