#Kanji
{
    padding: 0.8rem 2rem;
    width: 20rem;
    border-radius: 1rem 1rem;
    border-color: #53008a;
}

#Pesquisar-kanji
{
    color: black;
    background-color: white;
    border-radius: 1rem 1rem;
    padding: 0.8rem 2rem;
    font-weight: 700;
    border-right:0.15rem solid #53008a;
}

#Pesquisar-kanji:hover
{
    background-color: #53008a;
    color: white;
}

#Src_output
{
    font-size: 0.8rem;
}

#Src_input
{
    font-size: 2rem;
}

.section_container
{
    display: flex;
    margin: 2rem 4rem;
    align-items: center;
    gap: 4rem;
}

.resultado
{
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    gap: 1rem;
    border: 0.2rem solid white;
    width: 20rem;
    padding: 1rem;
    color: white;
}

.furigana
{
    display: flex;
    width: max-content;
    flex-direction: column;
    text-align: center;
    gap: 0.3rem;
}