@import url(CSS/header.css);
@import url(CSS/section.css);
@import url(CSS/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

:root
{
    --main-font-color: ;
    --main-page-color: ;
    --font--japanese: "Shippori Mincho", serif;
}

body
{
    background-color: #01002c;
}

a
{
    text-decoration: none;
}